{% load i18n %}
<div class="modal fade" id="deleteRoleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Delete Role" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "Are you sure you want to delete the role" %} <strong id="deleteRoleName"></strong>?</p>
                <p class="text-danger small">{% trans "This action cannot be undone." %}</p>
                {% csrf_token %}
                <input type="hidden" id="delete_role_id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteRoleBtn">{% trans "Delete" %}</button>
            </div>
        </div>
    </div>
</div>
