/** Incident add/edit form */

.incident-page .description-text {
    font-size: var(--sb-text-sm, 0.75rem);
    margin-top: 0.25rem;
    font-style: italic;
    padding: 5px 0;
    white-space: pre-line;
}
