[Unit]
Description=SecBoard Community Edition Django Application
After=network.target
Wants=network.target

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory=/opt/secboard-base
Environment=PATH=/opt/secboard-base/venv/bin
Environment=DJANGO_SETTINGS_MODULE=SecBoard.settings
ExecStart=/opt/secboard-base/venv/bin/gunicorn --config /opt/secboard-base/gunicorn.conf.py SecBoard.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
